<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="deep-orange">
    <span class="title-center">
      <a style="color: #f4c20d; font-size: 26px">h</a><a style="color: #4885ed; font-size: 26px">o</a><a style="color: #db3236; font-size: 26px">l</a><a style="color: #4885ed; font-size: 26px">d</a><a style="color: #3cba54; font-size: 26px">u</a><a style="color: #db3236; font-size: 26px">p</a>
    </span>
</mat-toolbar>
<mat-list-item>
</mat-list-item>
<div id="map" style="display: none;"></div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#3cba54"
  loadingText="holdup mate..."
  type="ball-scale-multiple">
</ngx-spinner>
<mat-list>
  <mat-list-item class="current-address" *ngIf="current_address">
    <img matListAvatar class="center" src="assets/images/marker.png">
      <p matLine>
        <span>{{current_address}}
        </span>
      </p>
  </mat-list-item>
  <mat-list-item *ngFor="let data of places | orderBy: 'distance';" (click)="openDialog(data)">
    <img matListAvatar src="{{data.icon}}">
    <h3 matLine> {{data.name}} </h3>
    <p matLine>
      <span class="info"> {{data.rating}} </span>
      <rating
        [max]="data.rating"
        iconClass="fa-star"
        fullIcon="★"
        emptyIcon="★"
        [readonly]="true"
        [float]="true">
      </rating>
    </p>
      <p matLine class="info">{{data.formatted_address}}</p>
      <p matLine *ngIf="data.opening_hours || ''">
        <span class="info" *ngIf="data.opening_hours.open_now">Open</span>
      </p>
    <p matLine class="info">{{ data.distance }} miles</p>
  </mat-list-item>
</mat-list>
